<div class="container" *ngIf="exp">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institucion">Nombre de la Empresa:</label>
                    <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="exp.empresa" required >
                </div>
                <div class="form-group">
                    <label for="titulo">Puesto:</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="exp.puesto" required>
                </div>
                <div class="form-group">
                    <label for="anioComienzo">Año de Comienzo:</label>
                    <input type="text" class="form-control" id="anioComienzo" name="anioComienzo" [(ngModel)]="exp.anioComienzo" required>
                </div>
                <div class="form-group">
                    <label for="anioFinal">Año de Finalización:</label>
                    <input type="text" class="form-control" id="anioFinal" name="anioFinal" [(ngModel)]="exp.anioFinal" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="exp.descripcion" required>
                </div>
                <button class="btn btn-primary">
                    Modificar
                </button>
            </form>

        </div> 

    </div>



</div>
