<header class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item"><img class="navbar-brand img-header" src="assets/ap-logo.png" alt="logo argentina programa"></li>
        <li class="nav-item"><h6>#Yo Programo</h6></li>
      </ul>
      <ul class="social nav navbar-nav navbar-right">	
        <li class="nav-item socialItem"><a href="https://www.linkedin.com/in/javier-schettini/"><i class="bi bi-linkedin" style="color:white"></i></a></li>
        <li class="nav-item socialItem"><a href="https://www.github.com/schjavier"><i class="bi bi-github" style="color:white"></i></a></li>
        
        
        <li class="nav-item logIn socialItem" *ngIf="!isLogged"><a routerLink="/portfolio/auth/login" data-toggle="tooltip" data-placement="bottom" title="Acceder"><i class="bi bi-door-open" style="color:white"></i></a></li>
        <li class="nav-item LogOut socialItem" *ngIf="isLogged"><a routerLink="/portfolio" data-toggle="tooltip" data-placement="bottom" title="Salir" (click)="onLogOut()"><i class="bi bi-door-closed" style="color:white"></i></a></li>
      </ul>
    </div>
</header>