<section>
    <div class="container">
        <div class="row">
          <div class="col-sm-11"><h3>Habilidades & Tecnologías</h3></div>
        
          <div class="col-sm-1">
            <button class="bi bi-plus-circle-fill agregar" *ngIf="isLogged"></button>
          </div>
        </div>
      </div>
      
      <div class="container-fluid hab">
          <img class="logos" src="assets/logos/html.svg">
          <img class="logos" src="assets/logos/css.svg">
          <img class="logos" src="assets/logos/JavaScript.svg">
          <img class="logos" src="assets/logos/TypeScript.svg">
          <img class="logos" src="assets/logos/java.svg">
          <img class="logos" src="assets/logos/git.svg">
          <img class="logos" src="assets/logos/github.svg">
          <img class="logos" src="assets/logos/Angular.svg">
          <img class="logos" src="assets/logos/spring.svg">
          <img class="logos" src="assets/logos/postman.svg">
          <img class="logos" src="assets/logos/mysql.svg">
        </div>
          
</section>
