.logos {
    width:75px;
    height:75px;
    
}

.logos:hover{
    rotate:(25deg);
    transform: scale(1.3);
    }

.hab{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}
