<section>
    <div class="container">
        <div class="row">
          <div class="col-sm-11"><h3>Habilidades & Tecnologías</h3></div>
        
          <div class="col-sm-1">
            <button class="bi bi-plus-circle-fill agregar" *ngIf="isLogged"></button>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row skills">
          <!--comienzo de las columnas de skills-->
          <div class="col-sm-3">
              <img class="logos" src="assets/logos/html.svg">

            </div>
          <div class="col-sm-3">
            <img class="logos" src="assets/logos/css.svg">
            </div>
            <div class="col-sm-3">
              <img class="logos" src="assets/logos/JavaScript.svg">
              </div>
              <div class="col-sm-3">
                <img class="logos" src="assets/logos/TypeScript.svg">
                </div>
                    
        </div>
      </div>
      <div class="container">
        <div class="row skills">
          <!--comienzo de las seguda fila de columnas de skills-->
          <div class="col-sm-3">
            <img class="logos" src="assets/logos/java.svg">
            </div>
          <div class="col-sm-3">
            <img class="logos" src="assets/logos/git.svg">
            </div>
            <div class="col-sm-3">
              <img class="logos" src="assets/logos/github.svg">
              </div>
              <div class="col-sm-3">
                <img class="logos" src="assets/logos/Angular.svg">
                </div>
          
        </div>
      </div>
      <div class="container">
        <div class="row skills">
          <!--comienzo de las tercera fila de columnas de skills-->
          <div class="col-sm-3">
            <img class="logos" src="assets/logos/spring.svg">
            </div>
          <div class="col-sm-3">
            <img class="logos" src="assets/logos/postman.svg">
            </div>
            <div class="col-sm-3">
              <img class="logos" src="assets/logos/mysql.svg">
              </div>
              <div class="col-sm-3">
              </div>
          
        </div>
      </div>
</section>
