<section>
    <div class="container">
        <div class="row">
          <div class="col-sm-11"><h3>Habilidades</h3></div>
        
          <div class="col-sm-1">
            <button class="btn bi bi-pencil editar"></button>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row skills">
          <div class="col-3"><div class="circular-progress"></div></div>
          <div class="col-3"><div class="circular-progress2"></div></div>
          <div class="col-3"><div class="circular-progress3"></div></div>
          <div class="col-3"><div class="circular-progress4"></div></div>
        </div>
      </div>
</section>
