<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institucion">Nombre de la Institucion Educativa</label>
                    <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="institucion" required >
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo de la Formación</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="anioComienzo">Año de Comienzo de los estudios:</label>
                    <input type="text" class="form-control" id="anioComienzo" name="anioComienzo" [(ngModel)]="anioComienzo" required>
                </div>
                <div class="form-group">
                    <label for="anioFinal">Año de Finalización de los estudios:</label>
                    <input type="text" class="form-control" id="anioFinal" name="anioFinal" [(ngModel)]="anioFinal" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <button class="btn btn-primary">
                    Agregar Educación
                </button>
            </form>

        </div> 

    </div>



</div>