<section>
    <div class="experiencia container">
        <div class="row">
          <div class="col-sm-11">
          <h3>Experiencia</h3>
          
          </div>	
          <div class="col-sm-1">
            <button class="bi bi-plus-circle-fill agregar" routerLink="/portfolio/experiencia/new"></button>
            
          </div>
        </div>
      </div>
      <li *ngFor="let experience of experienceList">
      <div class="container">
        <div class="row">
          <div class="col-sm-3"><a href="https://rosariosolutions.com"><img class="img-fluid img-exp" [src]="experience.logo" alt="Experience img"></a></div>
          <div class="col-sm-8">
            <h4><b>{{experience.puesto}}</b><small> {{experience.anioComienzo}} - {{experience.anioFinal}}</small></h4>
              <p class="empresa">{{experience.descripcion}}</p>
          </div>
          <div class="col-sm-1">
            <button class="btn bi bi-pencil editar" routerLink="/portfolio/experiencia/edit/{{experience.id}}"></button>
            <button class="btn editar bi bi-x-circle" (click)="onDelete(experience.id)"></button>
        </div>
        </div>
      </div>
    </li>
</section>