<section>
    <div class="container proyecto">
        <div class="row">
          <div class="col-sm-11"><h3>Proyectos</h3></div>
          <div class="col-sm-1">
            <button class="bi bi-plus-circle-fill agregar" routerLink="/portfolio/proyectos/new" *ngIf="isLogged"></button>
          </div>
        </div>
      </div>
      <li *ngFor="let projects of projectsList">
      <div class="container">
        <div class="row"> 
           <div class="col-sm-3"><img class="img-fluid" [src]="projects.imagen" alt="imagen Portafolio"></div>
           <div class="col-sm-8">
            <h4><strong>{{projects.nombre}}</strong><small> [{{projects.comienzo}} - {{projects.fin}}]</small> </h4>
            <p>{{projects.descripcion}}</p>
          </div>
          <div class="col-sm-1">
            <button class="btn bi bi-pencil editar" routerLink="/portfolio/proyectos/editar/{{projects.id}}" *ngIf="isLogged"></button>
        </div>
             
           </div>
        </div>
      </li> 
</section>