<div class="banner container-fluid ">
    <div class="row">
      <div class="col-12-sm"><img id="img-banner" class="img-banner img-fluid" [src]="miPortafolio.fondoBanner" alt="foto de un atardecer"></div>
    </div>
  </div>
  
  <div id="sobre-banner" class="container">	
    <div class="row"> 
      <div class="col-sm-4"><img class="img-fluid img-self" [src]="miPortafolio.fotoDePerfil"></div>	
      <div class="col-sm-8">
        <h2 id="nombre">{{miPortafolio.nombre}}</h2>
        <p>{{miPortafolio.puesto}}</p>
      </div>
    </div>
  </div>
