<div class="banner container-fluid ">
    <div class="row">
      <div class="col-sm-12"><img id="img-banner" class="img-banner img-fluid" [src]="persona.fotoBanner" alt="foto de un atardecer"></div>
    </div>
  </div>
  
  <div id="sobre-banner" class="container">	
    <div class="row"> 
      <div class="col-sm-4"><img class="img-fluid img-self" [src]="persona.fotoPerfil"></div>	
      <div class="col-sm-8">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <p>{{persona.puesto}}</p>
      </div>
    </div>
  </div>
